.comment-new
  .text-center.rounded.shadow
    = form_for @book.comments.new, url: book_comments_path(@book), remote: true do |f|
      .field.mx-3
        = f.text_area :body, id: 'commentBodyField', placeholder: 'Comment here', hide_label: true, class: 'form-control align-center hide-shadow'
      %br
      .actions
        = f.submit 'Send', class: 'btn btn-outline-success full-width hide-shadow'