.row
  .col
  .col-6
    %ul.pagination.justify-content-center
      - unless @comments.first_page?
        %li.page-item
          = link_to 'Previous', book_path(@book, page: @comments.current_page - 1), remote: true, class: 'page-link'
      - unless @comments.last_page?
        %li.page-item
          = link_to 'Next', book_path(@book, page: @comments.current_page + 1), remote: true, class: 'page-link'
  .col