.comment.m-3
  .text-left
    .author
      .text-muted
        %b
          = comment.user.email
  %br
  .text-center
    .body
      %h6
        = comment.body
  .text-right
    .date
      %p
      = comment.created_at.strftime('%d/%m/%Y %H:%M')
  %hr
  %br