<%- unless @comment.errors.any? %>
$('#commentBodyField').val('');
$('.all-comments')
    .animate({opacity: 0.95})
    .prepend('<%= escape_javascript(render 'show', comment: @comment) %>');
<%- end %>