- if @book.taken && @book.taker_id.to_s != current_user.id.to_s
  %span.fa.fa-times-circle.fa-4x.red{ 'data-toggle': 'tooltip', 'title': 'Book already is taken' }
- else
  = form_for @book.histories.new, url: book_histories_path(@book), remote: true do |f|
    - if @book.taken && @book.taker_id.to_s == current_user.id.to_s
      = f.hidden_field :taken, value: false
      = button_tag type: 'submit', class: 'btn-hidden' do
        %span.fa.fa-undo.fa-4x.orange{ 'data-toggle': 'tooltip', 'title': 'Return the book' }
    - else
      = f.hidden_field :taken, value: true
      = button_tag type: 'submit', class: 'btn-hidden' do
        %span.fa.fa-check-circle.fa-4x.green{ 'data-toggle': 'tooltip', 'title': 'Book is available', 'aria-hidden': true }