- if @rating.present?
  = form_for @rating, url: book_rating_path(@book, @rating), remote: true do |f|
    = f.hidden_field :rating, id: 'ratingFormRate'
    = f.submit style: 'display: none;', id: 'ratingFormSubmit'
- else
  = form_for Rating.new, url: book_ratings_path(@book), remote: true do |f|
    = f.hidden_field :rating, id: 'ratingFormRate'
    = f.submit style: 'display: none;', id: 'ratingFormSubmit'
- 5.times do |i|
  - if @book.rating >= i + 1
    %span.fa.fa-star.fa-3x.gold{ onclick: "setRating(#{i + 1})" }
  - else
    %span.fa.fa-star.fa-3x.grey{ onclick: "setRating(#{i + 1})" }