<%- unless @rating.nil? %>
  $('.rating')
      .empty()
      .append('<%= escape_javascript(render 'ratings/form') %>');
  triggerHover();
  $('.rating-status')
      .empty()
      .append('<%= escape_javascript(render 'ratings/info') %>');
<%- end %>