.paginated-books
  %table.table.table-bordered.table-hover.table-custom.all-books-table
    %thead
      %tr.text-center
        %th Name
        %th Author
        %th Status
    %tbody
      - @books.each do |book|
        %tr.text-center
          %td
            %h4
              = link_to book.title, book
          %td
            = book.author
          %td
            - if book.taken
              %span.fa.fa-times-circle.fa-2x.red{ 'data-toggle': 'tooltip', 'title': 'Book already is taken' }
            -else
              %span.fa.fa-check-circle.fa-2x.green{ 'data-toggle': 'tooltip', 'title': 'Book is available' }
  .row
    .col
    .col-6
      %ul.pagination.justify-content-center
        - unless @books.first_page?
          %li.page-item
            = link_to 'Previous', books_path(page: @books.current_page - 1), remote: true, class: 'page-link'
        - unless @books.last_page?
          %li.page-item
            = link_to 'Next', books_path(page: @books.current_page + 1), remote: true, class: 'page-link'
    .col