= form_for @book do |f|
  - if @book.errors.any?
    .notification
      %h2= 'You have some errors:'
      %ul
        - @book.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.text_field :title, placeholder: :title, class: 'form-control'
  .form-group
    = f.text_field :author, placeholder: :author, class: 'form-control'
  .form-group
    = f.text_field :description, placeholder: :description, class: 'form-control'
  .form-group
    .row
      .col
        = f.label 'Cover image: ', class: 'float-left text-muted'
      .col
        = f.file_field :image
  %hr
  .actions
    = f.submit 'Save', class: 'btn btn-outline-success full-width hide-shadow'