.books
  .bg-container#mb_parallax_one
    .mb_parallax_overlay
      .text-center
        %h1
          Top books
        %h5
          Based on the number of readers for all time
    .top-books
      %table.table.table-bordered.table-hover.table-custom.top-books-table
        %thead
          %tr.text-center
            %th
            %th Name
            %th Author
            %th Status
        %tbody
          - @top_books.each_with_index do |book, index|
            %tr.text-center
              %td
                %p= index += 1
              %td
                %h4
                  = link_to book.title, book
              %td
                %p= book.author
              %td
                - if book.taken
                  %span.fa.fa-times-circle.fa-2x.red{ 'data-toggle': 'tooltip', 'title': 'Book already is taken' }
                -else
                  %span.fa.fa-check-circle.fa-2x.green{ 'data-toggle': 'tooltip', 'title': 'Book is available' }
      %br
    %br
  .bg-container#mb_parallax_two
    .mb_parallax_overlay
      .text-center
        %h2
          All books
        %h5
          All available books at the our library
    .all-books
      = render 'all_books'
    %br