.book-show.pt-3
  .container-fluid
    .row
      .col-sm-12.col-md-12.col-lg-4.col-xl-4
        .cover.rounded
          = image_tag(book_image_path(@book.id, version: :large))
        .rating.d-flex.justify-content-center
          = render 'ratings/form', rating: @rating
        .rating-status.text-center
          = render 'ratings/info'
        %hr.half-width
      .col-sm-12.col-md-12.col-lg-8.col-xl-8
        .info
          .text-right
            .status
              = render 'histories/form', history: History.new
          .text-center
            .title
              %h2= @book.title
            .author
              .text-right
                .text-grey
                  %h4= @book.author
          .description
            %p= @book.description
        %hr
        .comments
          .text-center
            %h4 Comments
            %hr.half-width
          = render 'comments/form'
          %hr
          .all-comments
            = render 'comments/history'