.sign-up
  .container
    .title
      .text-center
        %br
        %h2 Log in
        %hr.half-width
    .form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.email_field :email, autofocus: true, autocomplete: 'email', placeholder: :email, class: 'form-control'
        .field
          = f.password_field :password, placeholder: :password, autocomplete: 'off', class: 'form-control'
        .actions
          .text-center
            = f.submit 'Log in', class: 'btn btn-outline-success full-width hide-shadow'
          %hr.half-width