/* import 3rd party libs */
@import 'bootswatch/materia/variables';
@import 'bootstrap';
@import 'bootswatch/materia/bootswatch';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,500');

/* import main */

@import "welcome";
@import "books";

h1, h2, h3 {
  letter-spacing: 0.2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

p, a {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5vh;
  line-height: 5vh;
  background-color: rgba(245, 245, 245, 0.9);

  a {
    color: #2E2F30;
  }

  a:hover {
    color: black;
  }
}

.notification {
  background-color: rgba(21, 21, 21, 0.5);
}

.content {
  max-height: 100%;
  height: 91%;
  padding-bottom: 5vh;
  margin: 0 auto;
}

.red {
  color: red;
}

.red:hover {
  color: darkred;
}

.green {
  color: green;
}

.green:hover {
  color: darkgreen;
}

.orange {
  color: orange;
}

.orange:hover {
  color: orangered;
}

.btn-hidden {
  background: transparent;
  border-width: 0;
}

.hide-shadow {
  box-shadow: 0 0 0 !important;
}

.full-width {
  width: 99%;
}

.half-width {
  width: 50%;
}

body, html {
  height: 100%;
}