.books {

  margin-bottom: 5vh;

  table {
    a {
      color: white;
    }

    a:hover {
      color: gray;
    }
  }

  .bg-container {
    border-bottom: 1vh solid black;
    padding-top: 10vh;
    background-size: cover;
    background: no-repeat fixed;
  }

  .mb_parallax_overlay {
    height: 30vh;
    width: 80vw;
    margin: auto;
    background-color: black;
    opacity: 0.7;

    h1, h2 {
      padding-top: 10vh;
    }

    h5 {
      padding-top: 5vh;
    }

    h1, h2, h5 {
      color: white;
    }
  }

  #mb_parallax_one {
    background-image: asset_url('books_bg');
  }

  #mb_parallax_two {
    background-image: asset_url('books_bg_2');
  }

  .top-books, .all-books {
    width: 80vw;
    margin: auto;
  }

  .top-books, .all-books {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .page-link {
    color: black;
    opacity: 0.9;
  }

  .page-link:hover {
    color: black;
    opacity: 0.6;
  }
}

.book-show {

  .cover, .cover img {
    width: 100%;
  }

  .text-grey {
    color: dimgrey;
  }

  .align-center {
    text-align: center
  }

  .shadow {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 20px 0 rgba(0, 0, 0, 0.12);
  }

  .all-comments {
    overflow-x: hidden;

    @media screen and (max-height: 719px) {
      max-height: 500px;
    }

    @media screen and (min-height: 720px) {
      max-height: 350px;
    }
  }

  .grey {
    color: grey;
  }

  .darken {
    color: grey !important;
  }

  .gold {
    color: gold;
  }

  .golden {
    color: gold !important;
  }

  .rating {
    .fa {
    padding: 0 3px;
    }
  }
}
