.welcome {
  width: 100%;
  height: 100%;
  background: asset_url('welcome_bg') no-repeat center;
  background-size: cover;
  position: relative;
  opacity: 0.65;

  h1, h2 {
    color: white;
    background-color: rgba(66, 66, 66, .5);
    padding: 1%;
  }

  .title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}