.header
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light.text-dark
    = link_to 'Library', root_path, class: 'navbar-brand'
    %button.navbar-toggler{ 'aria-controls': 'navbarColor03', 'aria-expanded': :false,
     'aria-label': 'Toggle navigation', 'data-target': '#navbarColor03',
      'data-toggle': :collapse, type: :button }
      %span.navbar-toggler-icon
    #navbarColor03.collapse.navbar-collapse
      .mr-auto
      .navbar-nav.my-2.my-lg-0
        .nav-item.btn-group
          - if current_user
            = link_to 'New book', new_book_path, class: 'btn btn-outline-success'
            = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger'
          - else
            = link_to 'Sign up', new_user_registration_path, class: 'btn btn-secondary'
            = link_to 'Sign in', new_user_session_path, class: 'btn btn-secondary'
