.notification
  - flash.each do |name, message|
    %div{class: "alert alert-dismissible alert-#{name}"}
      %button.close{ 'data-dismiss': :alert, type: :button } ×
      %h4.alert-heading.text-center
        = "#{name.humanize}!"
      %b
        .text-center
          = message